<!DOCTYPE html>
<html>
<head>
  <title>Login and Registration</title>
  <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='logreg.css')}}">
</head>
<body>
    <div id='wrapper'>
    <!-- we can use the line below to see all of our data in our template -->
                            <!-- {{ all_users }} -->
        
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class='flash_msg'>
                            <p class='red'>{{message}}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        
        <form action='/login' method='POST'>
            <h2>Please Login</h2>
            <label for="logemail">Email:<input type="text" name="logemail" id="logemail"></label>
            <label for="logpassword">Password:<input type="password" name="logpassword" id="logpassword"></label>
            <input type="submit" value="Login">
        </form>

        <form action='/registration' method='POST'>
            <h2>Register New User</h2>
            <label for="fname">First Name:<input type="text" name="fname" id="fname"></label>
            <label for="lname">Last Name:<input type="text" name="lname" id="lname"></label>
            <label for="regemail">Email:<input type="text" name="regemail" id="regemail"></label>       
            <label for="regpassword">Password:<input type="password" name="regpassword" id="regpassword"></label>
            <label for="regpassword2">Password Confirmation:<input type="password" name="regpassword2" id="regpassword2"></label>
            <input type="submit" value="Register">
        </form>
    </div>
</body>
</html>
