<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='logreg.css')}}">
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class='flash_msg'>
                    <p class='red'>{{message}}</p>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>